body { 
    background-color: black;
    color: white;
    font-family: "Calibri";
}

h1 {
    font-weight: 100;
}

#editor {
    width: 700px;
    height: 700px;
}

#output {
    position: absolute;
    left: 720px;
    overflow-y: scroll;
    width: 700px;
    height: 700px;
}

#rafael {
    position: absolute;
    top: 0px;
    width: 700px;
    height: 700px;
}

#console {
    position: absolute;
    top: 700px;
    width: 700px;
    height: 700px;
}

#html1 {
    position: absolute;
    top: 1400px;
    width: 700px;
    height: 700px;
}

